* {
    font-family: "Mulish", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.primary {
    color: #cf6a05;
}

#colo {
    color: #fff;
    background: #cf6a05;
    text-align: center;

}

#bold {
    color: #cf6a05;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
    text-decoration: none;
    margin-top: 52px;


}

header h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
    text-decoration: none;
    margin-top: 52px;

}


header img {
    width: 95px;
    height: 95px;
    margin-top: 30px;
    padding-left: 10px;
    padding-left: 80px;

}

nav li a {
    color: var(--Dark-02, #424247);
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    list-style: none;

}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 44px;
    margin-top: 55px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;

}

/*banner section*/
.banner {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),
        url(../Assignment_2/Images/Group\ 13\ \(1\)\ \(1\).png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    padding-top: 70px;
    margin-right: 135px;
    margin-left: 135px;


}

.ban_txt_1 {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    padding-top: 106px;
}

.ban_txt_2 {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-top: 24px;

}


.fild {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: #FFF;
    flex-shrink: 0;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 5px;
}

.box {
    display: inline-flex;
    padding: 16px;
    align-items: center;
    margin-left: 230px;
    margin-top: 30px;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-bottom: 106px;

}

.popular_tours {
    display: flex;
    margin: 135px;
}

.pop_txt_1 {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 16px;
}

.pop_txt_2 {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 16px;

}

.pop_txt_2 li {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-left: 16px;
    padding: 16px;
}

.btn-pri {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    border: none;
    margin-top: 32px;
}

.pop_img {
    width: 100%;
    height: auto;

}
.pho_txt_1{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-bottom: 24px;
}

.pho_txt_2{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}

main img{
    width: 100%;
    height: 100%;
}



.photo_3 , .photo_1 , .photo_2 {
    display: flex;
    gap: 40px;
    margin-left: 135px;
    margin-right: 135px;
    margin-top: 40px;
}

.pho_3{
    width: 300px;
height: 286px;

}

.pho_1{
    width: 355px;
height: 286px;
}

.pho_2{
    width: 500px;
height: 286px;
}

.pho_4{
    width: 600px;
height: 300px;
}

.pho_6{
    width: 500px;
height: 300px;

}

.pho_7{
    width: 700px;
height: 300px;
}

.photo_container_1, .photo_container_2, .photo_container_3, .photo_container_4, .photo_container_5 , .photo_container_6 , .photo_container_7{
    position: relative;
    display: inline-block;

}
.pho_txt1 , .pho_txt2 ,.pho_txt3 ,.pho_txt4 ,.pho_txt5 , .pho_txt6 ,.pho_txt7{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-style: normal;
font-weight: 800;


}


@media screen and (max-width : 600px) and (min-width : 400px) {
    header {
        padding: 20px;
    }

    .logo {
        flex-direction: row;
    }

    header img {
        padding-left: 20px;
    }

    .ban_txt_1 {

        font-size: 22px;
        padding-top: 32px;
    }

    .ban_txt_2 {
        font-size: 14px;

    }

    nav ul {
        flex-direction: column;
        display: none;
    }

    .box {
        flex-direction: column;
        margin-left: 70px;

    }

    .fild {
        width: 255px;
        height: 52px;
    }

    .banner {
        padding-top: 18px;
        margin-left: 50px;
        

    }

    .popular_tours {
        flex-direction: column;
        margin-left: 50px;
        margin-top: 24px;
    }

    .btn-pri {
        margin-bottom: 35px;
    }

    .photo_3 , .photo_1 , .photo_2{
        flex-direction: column;
        height: auto;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
    }

    .pho_1 , .pho_2 ,.pho_3 ,.pho_4 ,.pho_6 ,.pho_7
     {
        width: 580px;
        height: 300px;
        flex-shrink: 0;
    }

}